# Config File for TOU-ANGLES-BATCH
# Lines starting with # are comments
# One assignment (=) per line
# Empty and undefined vars will be assigned defaults if possible
# path=C:/TEMP/SAMPLEDATAFROMSASHA
path=C:\TRAKTEMP\REXGUN_THERMAL\long_anode_s_highres
# prefix=NA53FC1F_
prefix=Rex1mm500Gs_36_28_6+0_7mm_long_anode_
zmin=0.09
# zmax=0.175
processes=6